extends layout
block scripts 
    script. 
        function agregar(){
            var tareas = document.getElementById('tarea').value;
            let data = {
                'item':tareas
            }
            const xhr = new XMLHttpRequest()
            xhr.addEventListener('load',()=>{
                let rta;
                if(xhr.status==200||xhr.status==201){
                    rta = JSON.parse(xhr.response)
                    cargar(rta)
                }
            });
            xhr.open('POST','/add',true);
            xhr.setRequestHeader('Content-Type','text/json')
            xhr.send(JSON.stringify(data))
        }
        function cargar(response){
            if(response.idT){
                let lista = document.getElementById('listaT');
                let listItem = document.createElement('li');
                const text = document.createTextNode(`${response.idT} - ${response.task}`);
                listItem.appendChild(texto);
                lista.appendChild(listItem);
            }
        }
        function eliminar(id){
            const xhr = new XMLHttpRequest()
            xhr.open('POST',`/delete/${id}`,true);
            xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE')
            xhr.send()
        }
block content
  fieldset 
    legend
      h1= title
    h3 #{title} List for today
   
    ul#listaT 
        each task in tasks 
            li 
                form.form(action=`todo/delete/${task.idT}?_method=DELETE` method="post")
                    button(type="submit" class="btn-classic bg-gray" onclick=`eliminar(${task.idT})`) X 
                p.lista #{task.task}
        else 
            p No hay tareas anotadas
    form(action="todo/add" method="post")
        label ¿Qué debería hacer Hoy?
        input(type="text" id="tarea" name="item")
        button(type="submit" class="btn-classic" onclick="agregar()" required) Agregar